<!doctype html>
<html lang="en">
<head>
  <title>Delete Friend ID {{ friend['id'] }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Are you sure you want to delete Friend ID {{ friend['id'] }}?</h1>

<table id="oneFriend">
  <tr>
    <td>ID</td>
    <td>{{ friend['id'] }}</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td>{{ friend['first_name'] }}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>{{ friend['last_name'] }}</td>
  </tr>
  <tr>
    <td>Occupation</td>
    <td>{{ friend['occupation'] }}</td>
  </tr>
  <tr>
    <td>Last Updated</td>
    <td>{{ friend['updated_at'] }}</td>
  </tr>
</table>

<form action='/delete_confirm' method='POST'>
  <input type="submit" value="Yes">
</form>
<form action='/delete_cancel' method='POST'>
  <input type="submit" value="No">
</form>

</body>
</html>