<!doctype html>
<html lang="en">
<head>
  <title>Edit Friend ID {{ friend['id'] }}</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Edit Friend ID {{ friend['id'] }}</h1>
<form action='/friends/{{friend['id']}}' method='POST'>
  <table id="oneFriend">
    <thead><tr>
      <td>Property</td>
      <td>Old Value</td>
      <td>New Value</td>
    </tr></thead>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{ friend['first_name'] }}</td>
      <td><input type="text" name="first_name" id="first_name"></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ friend['last_name'] }}</td>
      <td><input type="text" name="last_name" id="last_name"></td>
    </tr>
    <tr>
      <td>Occupation</td>
      <td>{{ friend['occupation'] }}</td>
      <td><input type="text" name="occupation" id="occupation"></td>
    </tr>
    <tr>
      <td>Last Updated</td>
      <td>{{ friend['updated_at'] }}</td>
      <td></td>
    </tr>
  </table>

  <input type="submit" value="Update">
</form>

<h3>Delete Friend ID {{ friend['id'] }}</h3>
<form action="/friends/{{friend['id']}}/delete">
  <input type="submit" value="Delete">
</form>

</body>
</html>